<!DOCTYPE html>
<html lang="ru">

{% include 'head.html' %}

<body>

{% include 'departures_list.html' %}

  <main class="container mt-3">
    <h1 class="display-5 mt-4">Летим {{ from_city }}</h1>
    <p class="mb-4">Найдено {{ tour_count }} {{ tour_word_ru }}, от {{ min_price }} до {{ max_price }} и от 4 ночей до 15 ночей</p>
    <!-- CARDS -->
    <div class="row mt-5">
        {% for key, tour in tours.items %}
      <div class="col-4">
        <div class="card mb-4">
          <img src="{{ tour.picture }}" class="card-img-top img-fluid" alt="">
          <div class="card-body">
            <h2 class="h5 card-title">{{ tour.country }}: {{ tour.title }}</h2>
              <h6 class="card-text">{{ tour.date }}, {{ tour.nights }} дней, {{ tour.price }} р. {{ tour.stars }}★</h6>
            <a href="/tour/{{ key }}" class="btn btn-sm btn-primary">Подробнее</a>
          </div>
        </div>
      </div>
        {% endfor %}
    </div>
  </main>

{% include 'basement.html' %}

</body>
</html>